{% extends 'base.html' %}

{% load staticfiles %}

{% block page %}
  <h1 style="margin-bottom: 30px;">My Orders</h1>
  <div class="panel panel-default">
    <table class="table table-bordered table-striped">
      <thead class="bg-success">
        <tr>
          <th>
            <th>Job Title</th>
            <th>Price ($)</th>
            <th>Active Status</th>
            <th>Order Status</th>

          </th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="">{{ job.title }}</a></td>
            <td>{{ job.price }}</td>
            <td>{% if job.active_status %} Active {% else %} Inactive {% endif %}</td>
            <td>{% if job.job_status %} Yes {% else %} No {% endif %}</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
