<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>User Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="{%static 'admin_static/images/icons/favicon.ico'%}"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'admin_static/css/main.css'%}">
	<style media="screen">
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
			-webkit-transition-delay: 9999s;
			-webkit-transition: color 9999s ease-out, background-color 9999s ease-out;}
	</style>
<!--===============================================================================================-->
</head>
<body>
{%  if 'user_id' in request.session %}

<div class="jumbotron text-center">
	<h3 class="mt-2">You are already logged-in as {{request.session.user_obj.username}}</h3>
	<hr class="mt-0 mb-4">

	<!-- <p>Don't have an account? Create one <a href="/register">here</a></p> -->
	<a href="/" class="btn btn-info" role="button">Go to Dashboard</a>
</div>
{% else %}
	{% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						 <span aria-hidden="true">&times;</span>
					 </button>
					{{ message}}.
			</div>
			{% endfor %}
	{% endif %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<span class="login100-form-title">
						Admin Login
					</span>
				 <div class="wrap-input100 validate-input m-t-85 m-b-35">
						<!-- <input class="input100" type="text" autocomplete name="username"> -->
						{{ form.username }}
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

						<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<!-- <input class="input100" autocomplete type="password" name="pass"> -->
						{{ form.password }}
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>


					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

					 <li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a href="{% url 'add_user' %}" class="txt2">
								Sign up
							</a>
						</li>
					 </ul>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
	{% endif %}

<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{%static 'admin_static/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{%static 'admin_static/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{%static 'admin_static/js/main.js'%}"></script>

</body>
</html>
